<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Listn - {{title}}</title>
	<link rel="stylesheet" type="text/css" href="web/css/style.css" />
	<link rel="stylesheet" type="text/css" href="web/css/font-awesome.css" />
	<link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="web/scripts/modernizr.js"></script>
	<script>
		var tag = document.createElement('script');
		tag.src = "//www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	</script>
	<!--
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://listn.nl:3000');
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});
	</script>
	-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
	<script type="text/javascript" src="web/scripts/jquery.tinyscrollbar1-81.min.js"></script>
	<script type="text/javascript" src="web/scripts/playYT.js"></script>
	<script type="text/javascript" src="web/scripts/timeago.js"></script>
</head>
	
<body>
	
	
</body>
</html>