/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	margin:0;
	padding:0;
	color:#FFF;
	background-color:#232323;
	font: 16px/22px 'Anaheim', sans-serif;
	text-align:left;
	overflow: hidden;
}

h1 {
	font: 1.6em/1.2em 'Anaheim', sans-serif;
	margin: 0;
}

a {
	color: #fff;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	padding-bottom: 24px;
}

h2 {
	color: #FC0;
	font-size: 1.2em;
	line-height: 32px;
}

/* Header */
#header-bar {
	background-color:#4f4f4f;
	height:30px;
	margin:0;
	padding:6px;
}

.home #header-bar {
	height: 128px;
	padding-left: 18px;
}

#header-bar .button {
	display: none;
	text-decoration: none;
	font-size: 1.4em;
	margin: 3px;
	padding: 3px;
	line-height: 22px;
}

#header-bar .button.forward {
	float: right;
}

#header-bar .logo {
	background: url("../gfx/logo-export22.png") no-repeat center;
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}

.home #header-bar .logo {
	background: url("../gfx/logo-export88.png") no-repeat center;
	width: 88px;
	height: 128px;
	margin-right: 12px;
}

#header-bar #site-name {
	display: inline-block;
	color: #fc0;
	font: 1.6em/1.2em 'Anaheim', sans-serif;
	margin: 0;
	vertical-align: middle;
}

.home #header-bar #site-name {
	font-size: 2.6em;
	line-height: 2.8em;
}

#menu-bar {
	background-color: #393939;
	padding: 3px;
}

#log-state {
	float: right;
	font-size: 12px;
	line-height: 16px;
	margin-top: 9px;
}

#log-state span {
	text-decoration: underline;
	cursor: pointer;
}

#login-form {
	display:none;
	background-color:rgba(30,30,30,0.9);
	position:absolute;
	top:30px;
	right:6px;
	padding:12px;
	text-align:right;
	z-index: 10;
}

#login-form input {
	margin-bottom:6px;
}

#manager {
	overflow: hidden;
}

#manager,
#dialog {
	background-color: #3b3b3b;
	bottom: 54px;
	top: 94px;
	position: absolute;
	left: 12px;
	right: 12px;
	padding: 12px;
}

/* Player */
#player {
	background-color: #4d4d4d;
	float: right;
}

#player .padding {
	width: 425px;
	height: 356px;
	margin: 6px;
}

#myytplayer {
	outline: none;
}

/* Search */
#search-field {
	z-index: 10;
	height: 21px;
	margin-bottom: 12px;
}

.input-prepend {
	float: right;
	background-color: #fff;
	padding-left: 6px;
}

#code {
	width: 700px;
	border: none;
	outline: none;
}

#results {
	width: 700px;
	right: 0;
	background-color: #eee;
	color: #232323;
	position: absolute;
	display: none;
	z-index: 10;
	margin-right: 12px;
}

#results li {
	list-style: none;
	height: 45px;
	padding: 3px;
	overflow: hidden;
}

.no-touch #results li:hover,
.touch #results li.hover {
	background-color: #b3b3b3;
}

#results li img {
	width: 60px;
	height: 45px;
	background-color: #000;
	float: left;
	margin-right: 3px;
}

/* Playlist */
#playlist {
	background-color: #4d4d4d;
	position: absolute;
	top: 45px;
	left: 12px;
	bottom: 12px;
	right: 461px;
	z-index: 0;
}

.item {
	border: 1px solid #5f5f5f;
	background-color: #5f5f5f;
	height: 50px;
	list-style: none;
	margin: 3px 0;
	padding: 3px;
	position: relative;
	overflow: hidden;
}

.item:first-child {
	margin-top: 0;
}

.item:last-child {
	margin-bottom: 0;
}

.item.highlight {
	border: 1px solid #fc0;
}

.item .image,
.item .text {
	float: left;
}

.item .text .dur {
	float: right;
}

.item .text {
	position: absolute;
	left: 78px;
	right: 6px;
}

.item .text {
	line-height: 16px;
}

.item .text .dur,
.item .text .comment {
	font-size: 12px;
	line-height: 14px;
}

.item .icon-exclamation-sign {
	display: none;
	position: absolute;
	bottom: 0;
	right: 3px;
}

.user-playlists {
	background-color: #4d4d4d;
	list-style: none;
	margin-bottom: 3px;
	height: 24px;
	padding: 6px;
	cursor: pointer; 
}

/*	Control bar 
	Icons: http://fortawesome.github.com/Font-Awesome
*/
.footer {
	background-color: #393939;
	position: relative;
	height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#controls .button {
	display: inline;
	position: absolute;
	width: 20px;
	margin-top: 5px;
	text-align: center;
}

#controls .button i {
	text-decoration:none;
}

.no-touch .button:hover i,
.touch .button.hover i {
	text-shadow: 0 0 10px #fff;
}

#playButton {
	left: 32px;
}

#prevButton {
	left: 6px;
}

#nextButton {
	left: 58px;
}

#marker-time-wrapper {
	display: inline;
	position: absolute;
	left: 90px;
	margin-top: 5px;
}

#total-time-wrapper {
	display: inline;
	position: absolute;
	right: 58px;
	margin-top: 5px;
}

.ui-slider-horizontal {
	height: 4px;
	background-color: #616161;
	left: 126px;
	right: 98px;
	margin-top: 13px;
	border: 1px solid #333;
	position: absolute;
}

.ui-slider .ui-slider-range {
	background-color: #919191;
	height: 100%;
	position: absolute;
}

.ui-slider .ui-slider-handle,
.ui-slider .ui-slider-handle:focus {
	height: 8px;
	width: 8px;
	background-color: #fC0;
	position: absolute;
	margin-left: -4px;
	top: -2px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: none;
}

#transitionButton {
	right: 64px;
	display: inline;
	position: absolute;
	width: 20px;
	margin-top: 5px;
}

.selected {
	color: #fC0;
}

#fullscreenButton {
	right: 32px;
}

#muteButton {
	right: 6px;
}

#repeatButton {
	right: 30px;
}

.ui-autocomplete {
	background: #ececec;
	color: #000;
	width: 600px;
	position: absolute;
}

.ui-autocomplete li {
	list-style: none;
}

/* scrollbar */
#scrollbar1 { width: 520px; clear: both; margin: 6px 0 6px 6px; }
#scrollbar1 .viewport { width: 500px; height: 400px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #232323; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 10px; }
#scrollbar1 .track { height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }

#scrollbar2 { width: 694px; clear: both; margin: 6px 0 6px 6px; }
#scrollbar2 .viewport { width: 680px; height: 440px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
#scrollbar2 .thumb .end,
#scrollbar2 .thumb { background-color: #232323; }
#scrollbar2 .scrollbar { position: relative; float: right; width: 10px; }
#scrollbar2 .track { height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar2 .thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar2 .disable{ display: none; }



/* icons */
.icon-search {
	background-color: #fff;
	color: #000;
}


/* buttons */
.action {
	border-radius: 3px;
	border: 1px solid #777;
	background-color: #5f5f5f;
	text-decoration: none;
	cursor: pointer;
	font: 14px/22px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	padding: 1px 6px;
	display: inline-block;
}

.action:hover {
	border-color: #aaa;
	background-color: #888;
}

.action.large {
	font: 20px/28px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	padding: 6px 12px;
}

.action i {
	margin-right: 6px;
}

#menu-bar #allPlaylist {
	margin-left: 9px;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* slide-dialog */
.wrapper #dialog {
	width: 280px;
	left: 100%;
	top: 42px;
	padding: 0;
	margin-left: 12px;
}

#dialog-wrapper {
	overflow-y: auto;
	margin-right: 12px;
	padding: 24px 12px 12px;
}

.dialog-content {
	display: none;
}

#btn-hide-dialog {
	padding: 6px;
	position: absolute;
}

.dialog-buttons {
	margin-top: 24px;
}

#overlay {
	background-color: rgba(30,30,30,0.5);
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.point-last {
	height: 20px;
	width: 90px;
	background-color: #fc0;
	color: #000;
	position: relative;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 4px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #fc0;
	position: relative;
	bottom: 0;
	margin-left: 50%;
	left: -5px;
}

.throbber {
	width: 16px;
	height: 16px;
	margin: 3px;
	background-image: url('../gfx/ajax-loader.gif');
	display: none;
}

.radio-item {
	background-color: #4d4d4d;
	padding: 6px 3px;
	margin-bottom: 3px;
}

.radio-item input {
	margin-right: 6px;
}



/* 
 * Facebook
 */
#facebook a {
	color: #FC0;
}

.fb_iframe_widget a {
	color: #FC0 !important;
}


/*
 * Touch
 */
.touch .wrapper {
	position: relative;
	overflow-x: hidden;
}

.touch #menu-bar,
.touch .footer,
.touch #btn-hide-dialog {
	display: none;
}

.touch #header-bar .button {
	display: inline-block;
}

.touch #manager {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

.touch .input-prepend {
	float: none;
}

.touch .input-prepend #results,
.touch .input-prepend #code {
	width: auto;
	min-width: 250px;
}

.touch .input-prepend #results {
	left: 12px;
}

.touch #player {
	float: none;
	position: relative;
	width: 100%;
}

.touch #playlist {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

.touch #log-state {
	display: none;
}

.touch #scrollbar1 { margin: 0; }
.touch #scrollbar1 .viewport { width: auto; height: auto; overflow: auto; }
.touch #scrollbar1 { width: auto; }
.touch #scrollbar1 .scrollbar { display: none; }
.touch #scrollbar1 .overview { position: relative; }

.touch #scrollbar2, .touch #scrollbar2 .viewport { width: auto; }
.touch #scrollbar2 .scrollbar { display: none; }


/*
 * index - dashboard
 */
.dashboard .playlists,
.dashboard .updates {
	background-color: #3b3b3b;
	float: left;
	margin: 1%;
}

.dashboard .playlists {
	width: 58%;
}

.dashboard .updates {
	width: 39%;
	margin-left: 0;
}

.dashboard .action-new,
.dashboard #user-playlists,
.dashboard #all-playlists,
.dashboard .stream {
	padding: 1%;
}

.dashboard #user-playlists a,
.dashboard #all-playlists a {
	text-decoration: none;
}

.dashboard .updates iframe {
	margin-top: 3px;
}

.dashboard .action-new #titlePlaylist {
	width: 39%;
	font-size: 18px;
	line-height: 32px;
}

@media all and (max-width: 768px) {
	.dashboard .updates {
		display: none;
	}
	.dashboard .playlists {
		width: 98%;
	}
}